@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Sigmar+One&family=Teko:wght@300;400&display=swap');
body {
  background-color: #1b1b1b !important;
  color: #04160c !important;
  font-family: 'IBM Plex Serif', serif !important;
  font-family: 'Sigmar One', cursive ;
  font-family: 'Teko', sans-serif;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-exit {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
